body {
    background-color: #322C2B;
    margin: 0;
}
.TitleAbout {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 0.4%;
    margin-top: 1%;
    text-shadow: 0px 4px 10px black;
}
.homeButton {
    position: absolute;
    top: 2.5%;
    right: 15%;
    background-color: #803D3B;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #E4C59E;
    font-family: 'Grape Nuts';
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
}
.homeButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}
.homeButton:active {
    background-color: #792422;
}
.introduction {
    background-color: #803D3B;
    display: flex;
    margin-right: 15%;
    margin-top: 2%;
    margin-left: 0.4%;
    margin-bottom: 1%;
    display: flex;
}

.introImage {
    width: 21%; /* Make images take up the full width of their container */
    height: 17%;
    border-style: solid;
    border-color: #E4C59E;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.introText {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 25px;
    width: 81%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.FAQ {
    background-color: #803D3B;
    display: flex;
    margin-right: 15%;
    margin-top: 2%;
    margin-left: 0.4%;
    margin-bottom: 1%;
    display: flex;
}

.faqHead {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 0.4%;
    text-shadow: 0px 4px 10px black;
    margin-top: 2%;
}

@media only screen and (max-width: 1024px) {
    .TitleAbout, .faqHead {
        font-size: 32px; /* Adjust font size */
        margin-top: 20px; /* Add top margin */
        margin-left: 5%;
        margin-bottom: 2%;
    }

    .introduction {
        flex-direction: column; /* Stack items vertically on mobile */
        margin-right: 5%; /* Remove right margin */
        margin-left: 5%; /* Remove left margin */
        margin-bottom: 3%;
    }

    .introImage {
        width: 48%; /* Reduce width for better fit */
        height: auto; /* Maintain aspect ratio */
        margin-left: 1%; /* Center image */
    }

    .introText {
        font-size: 16px;
    }
    .homeButton {
        right: 5%;
        top: 25px;
        font-size: 15px;
    }
    .homeButton:hover {
        box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    }
}