body {
    background-color: #322C2B;
    margin: 0;
}
.TitleAbout {
    font-family: 'Times New Roman';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 1%;
    margin-top: 1%;
    text-shadow: 0px 4px 10px black;
}
.homeButton {
    position: absolute;
    top: 2.5%;
    right: 1%;
    background-color: #803D3B;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #E4C59E;
    font-family: 'Times New Roman';
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
    text-shadow: 4px 4px 4px black;
    border-color: #322C2B;
}
.homeButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}
.homeButton:active {
    background-color: #792422;
}
.fullIntro {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Ensure children stretch to same height */
}
.introduction {
    background-color: #803D3B;
    display: flex;
    flex: 1;
    margin: 1% 1% 1% 0%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    border-style: solid;
    border-color: #E4C59E;
    box-shadow: 4px 4px 10px black;
    height: auto; 
}
.introImage {
    width: 20%; /* Make images take up the full width of their container */
    height: 50%;
    align-self: center;
    border-style: solid;
    border-color: #E4C59E;
    border-right: 0;
    margin: 1% 0% 1% 1%;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%; 
    box-shadow: 4px 4px 10px black;
    min-height: 500px;
    min-width: 500px;
    height: auto; /* Allow height to adjust based on the .item content */
    align-self: stretch; /* Ensure it stretches to match .item height */
}
.introText {
    font-family: Georgia;
    color: #E4C59E;
    font-size: 18px;
    width: 81%;
    margin-left: 5%;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-bottom: 1%;
    text-shadow: 4px 4px 4px black;
}

.FAQ {
    background-color: #803D3B;
    display: flex;
    margin-right: 1%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    border-style: solid;
    border-color: #E4C59E;
}

.questionButton {
    width: 100%;
    align-self: center;
    font-family: Georgia;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: #AF8260;
    -webkit-tap-highlight-color: transparent;
    border: 3px solid #322C2B;
    border-bottom: 0;
}
.questionButton:hover{
    background-color: #E4C59E;
}

.Question {
    margin-top: 1%;
    width: 90%;
    background-color: #AF8260;
}

.faqHead {
    font-family: 'Times New Roman';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 1%;
    text-shadow: 0px 4px 10px black;
    margin-top: 2%;
}
.dropdown {
    display: none;
    background-color: #E4C59E;
    align-content: center;
    justify-content: center;
    border: 3px solid #322C2B;
    border-top: 0;
}
.dropdown.active {
    display: flex;
}
.answerText {
    font-family: Georgia;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-left: 1%;
    color: #322C2B;
}

@media only screen and (max-width: 1024px) {
    .TitleAbout, .faqHead {
        font-size: 25px; /* Adjust font size */
        margin-top: 20px; /* Add top margin */
        margin-left: 3%;
        margin-bottom: 4%;
    }
    body{
        padding-bottom: 5%;
    }
    .fullIntro{
        flex-direction: column;
        display: flex;
        align-items: center;    /* Center items vertically */
    }
    .introduction {
        flex-direction: row; /* Stack items vertically on mobile */
        margin-right: 5%; /* Remove right margin */
        margin-left: 5%; /* Remove left margin */
        margin-bottom: 3%;
        border-radius: 0;
        padding-bottom: 2%;
        width: 90%;
        max-width: 700px;
        align-self: center;
    }

    .introImage {
        width: 90%; /* Reduce width for better fit */ /* Maintain aspect ratio */
        align-self: center;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        max-width: 700px;
        min-height: 0;
        min-width: 0;
        border-top-right-radius: 40%;
        border: solid;
        border-color: #E4C59E;
        margin-left: 0%; /* Remove left margin */

    }

    .FAQ {
        width: 90%;
        margin: 0 auto; /* Centers the element horizontally */
        display: flex; /* Adds flexbox display */
        justify-content: center; /* Centers content inside the .FAQ div */
        padding-bottom: 4%;
    }

    .introText {
        font-size: 14px;
        padding-top: 2%;
        padding-bottom: 1%;
        margin-left: 8%;
    }
    .homeButton {
        right: 2%;
        top: 20px;
        font-size: 15px;
    }
    .homeButton:hover {
        box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    }
    .questionButton{
        font-size: 14px;
    }
    .answerText {
        font-size: 14px;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .questionButton:hover{
    background-color: #AF8260;
}
}