body {
    background-color: #322C2B;
    margin: 0;
}
.TitleAbout {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 0.4%;
    margin-top: 1%;
    text-shadow: 0px 4px 10px black;
}
.fullIntro {
    display: flex;
    flex-direction: row;
}
.homeButton {
    position: absolute;
    top: 2.5%;
    right: 15%;
    background-color: #803D3B;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #E4C59E;
    font-family: 'Grape Nuts';
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
}
.homeButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}
.homeButton:active {
    background-color: #792422;
}
.introduction {
    background-color: #803D3B;
    display: flex;
    margin-right: 10%;
    margin-top: 2%;
    margin-left: 0.4%;
    margin-bottom: 1%;
    border-radius: 42%;
    border: 2px solid #E4C59E;
    box-shadow: 4px 4px 10px black;
}

.introImage {
    width: 20%; /* Make images take up the full width of their container */
    height: 50%;
    align-self: center;
    border-style: solid;
    border-color: #E4C59E;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 40%; 
    box-shadow: 4px 4px 10px black;
    min-height: 500px;
    min-width: 500px;
}

.introText {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 24px;
    width: 81%;
    margin-left: 12%;
    padding-top: 7%;
    padding-bottom: 10%;
    margin-bottom: 1%;
    text-shadow: 4px 4px 4px black;
}

.FAQ {
    background-color: #803D3B;
    display: flex;
    margin-right: 10%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.questionButton {
    width: 100%;
    align-self: center;
    background-color: #AF8260;
    font-family: 'Grape Nuts';
    font-size: 24px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.Question {
    margin-top: 2%;
    width: 90%;
    background-color: #AF8260;
}

.faqHead {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 0.4%;
    text-shadow: 0px 4px 10px black;
    margin-top: 2%;
}
.dropdown {
    display: none;
    background-color: #AF8260;
    align-content: center;
    justify-content: center;
}
.dropdown.active {
    display: flex;
}
.answerText {
    font-family: 'Grape Nuts';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1%;
}

@media only screen and (max-width: 1024px) {
    .TitleAbout, .faqHead {
        font-size: 32px; /* Adjust font size */
        margin-top: 20px; /* Add top margin */
        margin-left: 5%;
        margin-bottom: 4%;
    }
    .fullIntro{
        flex-direction: column;
    }
    .introduction {
        flex-direction: row; /* Stack items vertically on mobile */
        margin-right: 5%; /* Remove right margin */
        margin-left: 5%; /* Remove left margin */
        margin-bottom: 3%;
        border-radius: 0;
        padding-bottom: 2%;
        width: 80%;
        max-width: 700px;
        align-self: center;
    }

    .introImage {
        width: 80%; /* Reduce width for better fit */ /* Maintain aspect ratio */
        margin-left: 1%; /* Center image */
        align-self: center;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        max-width: 700px;
        min-height: 0;
        min-width: 0;
    }

    .FAQ {
        width: 80%;
        margin: 0 auto; /* Centers the element horizontally */
        display: flex; /* Adds flexbox display */
        justify-content: center; /* Centers content inside the .FAQ div */
        padding-bottom: 4%;
    }

    .introText {
        font-size: 14px;
        padding-top: 2%;
        padding-bottom: 1%;
    }
    .homeButton {
        right: 5%;
        top: 25px;
        font-size: 15px;
    }
    .homeButton:hover {
        box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    }
    .questionButton{
        font-size: 14px;
    }
    .answerText {
        font-size: 14px;
    }
}