body {
    background-color: #322C2B;
    margin: 0;
}
.TitleCreations {
    font-family: 'Times New Roman';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 1%;
    margin-top: 1%;
    text-shadow: 0px 4px 10px black;
}
.filterTitle{
    font-family: 'Times New Roman';
    color: #E4C59E;
    font-size: 40px;
    margin: 0;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-top: 2%;
    text-shadow: 0px 4px 10px black;
}

.closeItem {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeItem:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.itemChoice {
    display: flex;
    flex-direction: row; /* Ensures all elements are stacked */
    justify-content: flex-start; /* Aligns items at the top */
    align-items: center; /* Centers items horizontally */
    background-color: #AF8260;
    border-width: 10px;
    margin: 0% 1% 1% 1%;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 5px;
    flex: 0 31.3%; 
}

.itemChoiceHeader{
    font-family: Georgia;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 4%;
    align-self: flex-start;
}

.itemChoice:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
    background-color: #E4C59E;
}

.itemChoice:active {
    border-color: black;
}

.pic {
    max-width: 200px;
    margin: 2% 2% 2% 2%;
    
}

.homeButton {
    position: absolute;
    top: 2.5%;
    right: 1%;
    background-color: #803D3B;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #E4C59E;
    font-family: 'Times New Roman';
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
    text-shadow: 4px 4px 4px black;
    border-color: #322C2B;
}
.homeButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}
.homeButton:active {
    background-color: #792422;
}


.selection {
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
}


.selectionText, .selectionTextBottom {
    font-family: Georgia;
    color: #E4C59E;
    font-size: 20px;
    margin-left: 1%;
    margin-right: 2%;
    text-shadow: 4px 4px 4px black;
}

.placeButton {
    background-color: #803D3B;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #E4C59E;
    font-family: Georgia;
    box-shadow: 0 4px 8px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
    margin-left: 1%;
    text-shadow: 4px 4px 4px black;
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: #322C2B;
}

.placeButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}
.placeButton:active {
    background-color: #792422;
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.price {
    font-family: Georgia;
    margin-top: 10%;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5%;
}

.viewButton {
    margin: 5% auto;
    margin-left: 0;
    background-color: #803D3B;
    width: 80%;
    height: 50px;
    color: #E4C59E;
    border-radius: 20px;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    max-width: 100%;
    min-width: 0;
    flex-shrink: 1;
    overflow-wrap: break-word;
    box-sizing: border-box;

}

.viewButton:hover,
.viewButton:focus {
    background-color: #a44a47;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
    outline: none;
}

.viewButton:active {
    background-color: #6d2f2d;
    transform: scale(0.96);
}

.itemInfo{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;             
    height: 80%;              
    background-color: #322C2B;   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;   
    z-index: 1000; 
    border: solid 2px #000;
    flex-direction: row;
    padding-left: 2%;
}
.itemInfo.active {
    display: flex;
}


.itemDescriptionName {
    font-family: 'Times New Roman';
    color: #E4C59E; 
    align-self: center;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    text-decoration: underline;
    margin-left: 2%;
}
.itemDescriptionText {
    font-family: Georgia;
    color: #E4C59E;
    font-size: 20px;
    width: 81%;
    margin-top: 0;
    margin-left: 2%;
    margin-top: 5%;
    text-shadow: 4px 4px 4px black;
}

.checkboxLabel{
    font-family: Georgia;
    color: #E4C59E;
    font-size: 20px;
    width: 81%;
    margin-top: 0;
    margin-top: 5%;
    text-shadow: 4px 4px 4px black;
}
.checkbox{
    margin-bottom: 1%;
    margin-left: 3%;
}
input[type="checkbox"] {
  accent-color: #AF8260; 
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.filterForm{
    display: flex;
    flex-direction: row;
}
.explanation{
    flex-direction: column; /* Stack items vertically on mobile */
    justify-content: center;
    flex-direction: column;
    background-color: #803D3B;
    display: flex;
    border: 2px solid #E4C59E;
    box-shadow: 4px 4px 10px black;
    border-radius: 30% 30% 0 0;
    border-radius: 25% 25% 0 0;
    margin: 2%;
}

.introParagraph {
    font-family: Georgia;
    color: #E4C59E;
    font-size: 20px;
    align-self: center;
    width: 80%;
    padding-top: 1%;
    text-shadow: 4px 4px 4px black;
}
.swiper-slide{
    width: 100%;
    height: 100%;
    background-color: #E4C59E;
}
.swiper {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 2%;
    border: solid 2px black;
    height: auto; /* remove any fixed height */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 1024px) {
    .homeButton {
        right: 2%;
        top: 20px;
        font-size: 15px;
    }
    .homeButton:hover {
        box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    }
    .TitleCreations {
        font-size: 25px; /* Adjust font size */
        margin-top: 20px; /* Add top margin */
        margin-left: 3%;
        margin-bottom: 4%;
    }
    .filterTitle{
        font-size: 20px;
        margin-left: 3%;
    }
    .placeButton{
        font-size: 16px;
        margin-left: 2%;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    .selection {
        flex-direction: column;
    }
    .itemChoice {
        align-self: right;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
        align-items: flex-start; /* Align items at the top of the container */
        justify-content: flex-start;
    }
    .itemChoiceHeader{
        font-size: 16px;
        margin-top: 2%;
    }
    .selectionText{
        margin-bottom: 2%;
    }
    .pic{
        max-width: 130px;
        margin-left: 2%;
    }
    .price {
        font-size: 16px;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .itemInfo{
        flex-direction: column;
        height:auto;
        align-items: center;
    }

    .itemDescription {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .itemDescriptionName{
        font-size: 15px;
        margin-top: 5%;
    }
    .itemDescriptionText{
        font-size: 12px;
        margin-bottom: 5%;
        margin-top: 0;
    }
    .viewButton {
        width: 80%;
        height: 30px;
    }
    .checkboxLabel{
    font-size: 15px;
    }
    .checkbox{
        margin-bottom: 1%;
        margin-left: 4%;
    }
    input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }
    .introParagraph {
        font-size: 14px;
        margin-left: 1%;
    }
        .swiper-slide{
    width: 100%;
    height: 100%;
    background-color: #E4C59E;
    }
    .swiper {
        width: 80%;
        max-width: 300px;
        overflow: hidden;
        border-radius: 2%;
        border: solid 2px black;
        height: auto; /* remove any fixed height */
        background-color: #E4C59E;
        margin: 0;
        padding: 0;
        margin-top: 2%;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        margin: 0;

    }
    .closeItem {
    top: 5px;
    right: 5px;
    }          
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (hover: none) and (pointer: coarse) {
  /* iPad styles */
    .price{
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 20px;
    }
    .viewButton{
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .pic{
        margin: 0.3%;
        margin-right: 4%;
    }

    .TitleCreations{
        font-size: 40px;
    }
    .homeButton{
        font-size: 25px;
    } 
    .introParagraph, .introParagraphTwo {
        font-size: 20px;
    }
    .selectionTextBottom {
        font-size: 20px;
    }
    .placeButton{
        font-size: 24px;
    }
    .inputTextRange {
        font-size: 20px;
    }

    .inputText {
        font-size: 20px;
    }
    .itemChoiceHeader{
        font-size: 20px;
    }
    .itemDescriptionName{
        font-size: 24px;
    }
    .itemDescriptionText{
        font-size: 20px;
    }
    .filterTitle, .selectionText{
        font-size: 24px;
    }
    .checkboxLabel{
    font-size: 20px;
    }

}