body {
    background-color: #322C2B;
    margin: 0;
}
.swiper-button-prev, .swiper-button-next {
    color: #322C2B;
}
.swiper {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    max-width: 100%; /* Full width without a max limit */
    max-height: 100%; /* Full height without a max limit */
    margin: 0 auto;
}

.swiper-slide {
    display: flex; /* Flex display to center grid */
    justify-content: center;
    align-items: center; /* Center grid vertically */
    width: 100%; /* Ensure slide takes full width */
    height: 100%; /* Ensure slide takes full height */
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 0; /* No space between the images */
    width: 100%; /* Full width for grid */
    height: 75%; /* Full height for grid */
    padding: 0; /* No padding around the grid container */
    margin: 0; /* Remove margins to use full space */
    border-top: 10px solid #E4C59E;
    border-bottom: 10px solid #E4C59E;
}

.images img {
    width: 100%;
    height: 100%; /* Ensure images cover their grid cell fully */

}

.CreationsButton, .OrderButton, .AboutButton {
    background-color: #803D3B;
    border-radius: 25px;
    height: 80px;
    flex: 1; /* Makes each button take up an equal amount of space */
    font-size: 30px;
    cursor: pointer;
    color: #E4C59E;
    font-family: 'Times New Roman';
    margin: 0 10px; /* Adds horizontal margin for visual spacing */
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 3%;
}

.CreationsButton:hover, .OrderButton:hover, .AboutButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}

.CreationsButton:active, .OrderButton:active, .AboutButton:active {
    background-color: #792422;
}

.Title {
    font-family: 'Times New Roman';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 1%;
    margin-top: 1%;
    text-shadow: 0px 4px 10px black;
}

.homeButtons {
    display: flex;
    justify-content: space-between; /* Evenly spaces out the buttons */
    margin: 1.5% 11.2%; /* Adjust margin to center the buttons container */
    margin-top: 3%;
}

.OrderButton {
    margin-left: 8%;
    margin-right: 8%;
}

.AboutButton {
    margin-left: 4%;
}

.CreationsButton {
    margin-right: 4%;
}

@media only screen and (max-width: 1024px) {
    .homeButtons {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center align buttons */
        margin-top: 7%; /* Adjust vertical margin */
        margin-bottom: 3%;
    }
    .CreationsButton, .OrderButton, .AboutButton {
        height: auto; /* Adjust button height as needed */
        margin: 10px 0; /* Add vertical margin */
        width: 80%; /* Adjust width */
        font-size: 24px; /* Adjust font size */
        text-align: center; /* Center align text */
        max-width: 70%;
    }
    .Title {
        font-size: 32px; /* Adjust font size */
        margin-top: 20px; /* Add top margin */
        margin-left: 5%;
    }
    .images {
        grid-template-columns: repeat(2, 1fr); /* Two columns for images */
        margin-top: 20px; /* Adjust top margin */
        margin-left: 0;
        margin-right: 0;
    }
    .pic1, .pic2, .pic3, .pic4 {
        height: auto; /* Adjust image height */
        height: 100%;
    }

    .pic1, .pic2 {
        border-bottom: 0;

        margin-top: 20px; /* Adjust margin */
    }
    .CreationsButton:hover, .OrderButton:hover, .AboutButton:hover {
        box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    }
    .pic3, .pic4 {
        border-top: 0;
    }
    .images {
        margin-bottom: 15%;
    }
}