body {
    background-color: #322C2B;
    margin: 0;
}
.TitleOrder {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 0.4%;
    margin-top: 1%;
    text-shadow: 0px 4px 10px black;
}

.itemChoice {
    display: flex;
    justify-content: center; /* Center content horizontally */
    flex-direction: row;
    background-color: #AF8260;
    border-width: 10px;
    margin-right: 2%;
    align-items: flex-start;
    border-radius: 5px;
}
.selected {
    background-color: #322C2B; /* Example background color */
    box-shadow: 0 4px 8px #E4C59E; /* Shadow effect */
    border-radius: 5px; /* Optional: make corners rounded */
}
.itemChoiceHeader{
    font-family: 'Grape Nuts';
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-top: 2%;
}

.itemChoice:hover {
    border-color: #792422;
}
.itemChoice:active {
    border-color: black;
}

.pic {
    max-width: 200px;
    margin: 2% 2% 2% 2%;
}
.explanation, .orderForm, .endingInfo {
    background-color: #803D3B;
    display: flex;
    margin-right: 10%;
    margin-top: 2%;
    margin-left: 0.4%;
    margin-bottom: 2%;
    border: 2px solid #E4C59E;
    box-shadow: 4px 4px 10px black;
}
.endingInfo {
    flex-direction: column;
}
.explanation{
    justify-content: center;
}
.explanation {
    border-radius: 30% 30% 0 0;
}
.introParagraph {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 25px;
    align-self: center;
    width: 80%;
    padding-top: 1%;
}
.homeButton {
    position: absolute;
    top: 2.5%;
    right: 10%;
    background-color: #803D3B;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #E4C59E;
    font-family: 'Grape Nuts';
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
}
.homeButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}
.homeButton:active {
    background-color: #792422;
}
.orderForm{
    display: flex;
    flex-direction: column;
}
.itemButton, .quantityButton {
    width: 45%;
    margin: 1% 0 1% 1%; 
    margin-left: auto; /* This aligns the buttons to the right edge of the container */
    margin-right: 25%;
}

.quantityButton {
    background: #AF8260;
    opacity: 0.7;
    border-radius: 10%;
}
.selection {
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
}
.selectionText, .selectionTextBottom {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 25px;
    margin-left: 2%;
    margin-right: 2%;
}
.selectionTextBottom {
    min-width: 21%;
}
.placeButton {
    background-color: #803D3B;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #E4C59E;
    font-family: 'Grape Nuts';
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
    margin-left: 0.4%;
}

.placeButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}
.placeButton:active {
    background-color: #792422;
}

.placeButton{
    margin-bottom: 4%;
}

.inputText, .specialText, .inputTextRange {
    align-self: center;
    justify-content: center;
    margin-left: 5%;
    min-width: 15%;
    border: solid;
    border-color: #E4C59E;
    font-size: 20px;
    font-family: 'Grape Nuts';
    font-weight: bold;
    background-color: #AF8260;
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
}

.specialText {
    width: 50%;
}

.description {
    display: flex;
    flex-direction: column;
}
.price {
    font-family: 'Grape Nuts';
    margin-top: 15%;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15%;
}
label[for="quantities"] {
    font-family: 'Grape Nuts';
    font-weight: bold;
    font-size: 20px;
}
#quantities {
    margin-right: 5%;
}

@media only screen and (max-width: 1024px) {
    .homeButton {
        right: 5%;
        top: 25px;
        font-size: 15px;
    }
    .homeButton:hover {
        box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    }
    .TitleOrder {
        font-size: 32px; /* Adjust font size */
        margin-top: 20px; /* Add top margin */
        margin-left: 5%;
        margin-bottom: 4%;
    }
    .explanation, .orderForm, .endingInfo {
        flex-direction: column; /* Stack items vertically on mobile */
        margin-right: 5%; /* Remove right margin */
        margin-left: 5%; /* Remove left margin */
        margin-bottom: 3%;
        margin-top: 3%;
    }
    .explanation {
        border-radius: 25% 25% 0 0;
        padding-top: 2%;
    }
    .introParagraph {
        font-size: 16px;
        margin-left: 1%;
    }
    .selectionText, .selectionTextBottom {
        font-family: 'Grape Nuts';
        color: #E4C59E;
        font-size: 16px;
        margin-left: 2%;
    }
    .itemButton, .quantityButton {
        width: 45%;
        margin: 1% 0 1% 1%; 
        margin-left: auto; /* This aligns the buttons to the right edge of the container */
        margin-right: 8%;
    }
    .placeButton{
        font-size: 16px;
        margin-left: 5%;
        margin-top: 0%;
    }
    .inputText, .specialText, .inputTextRange {
        font-size: 14px;
        margin-left: auto; 
        margin-right: 2%;
    }
    .selection {
        flex-direction: column;
    }
    .endingInfo{
        padding-bottom: 2%;
    }
    .itemChoice {
        align-self: right;
        margin-bottom: 4%;
        margin-left: 2%;
        align-items: flex-start; /* Align items at the top of the container */
        justify-content: flex-start;
    }
    .itemChoiceHeader{
        font-size: 16px;
    }
    .selectionText{
        margin-bottom: 2%;
    }
    .pic{
        max-width: 130px;
        margin-left: 2%;
    }
    .price {
        font-size: 16px;
    }
    label[for="quantities"] {
        font-size: 16px;
    }
}