body {
    background-color: #322C2B;
    margin: 0;
}
.TitleOrder {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 55px;
    margin: 0;
    margin-left: 0.4%;
    margin-top: 1%;
    text-shadow: 0px 4px 10px black;
}
.explanation, .orderForm {
    background-color: #803D3B;
    display: flex;
    margin-right: 15%;
    margin-top: 2%;
    margin-left: 0.4%;
    margin-bottom: 1%;
    display: flex;
}
.introParagraph {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 25px;
    width: 81%;
    margin-left: 2%;
}
.homeButton {
    position: absolute;
    top: 2.5%;
    right: 15%;
    background-color: #803D3B;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #E4C59E;
    font-family: 'Grape Nuts';
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
}
.homeButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}
.homeButton:active {
    background-color: #792422;
}
.orderForm{
    display: flex;
    flex-direction: column;
}
.itemButton, .quantityButton, .colorButton, .firstButton, .lastButton, .emailButton {
    width: 45%;
    margin: 1% 0 1% 1%; 
    margin-left: auto; /* This aligns the buttons to the right edge of the container */
    margin-right: 25%;
}
.itemSelection, .quantitySelection, .colorSelection, .firstSelection, .lastSelection, .emailSelection {
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
}
.itemSelectionText, .quantitySelectionText, .colorSelectionText, .firstSelectionText, .lastSelectionText, .emailSelectionText {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 25px;
    margin-left: 2%;
}

@media only screen and (max-width: 1024px) {
    .homeButton {
        right: 5%;
        top: 25px;
        font-size: 15px;
    }
    .homeButton:hover {
        box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    }
    .TitleOrder {
        font-size: 32px; /* Adjust font size */
        margin-top: 20px; /* Add top margin */
        margin-left: 5%;
        margin-bottom: 4%;
    }
    .explanation, .orderForm {
        flex-direction: column; /* Stack items vertically on mobile */
        margin-right: 5%; /* Remove right margin */
        margin-left: 5%; /* Remove left margin */
        margin-bottom: 3%;
    }
    .introParagraph {
        font-size: 16px;
    }
    .itemSelectionText, .quantitySelectionText, .colorSelectionText, .firstSelectionText, .lastSelectionText, .emailSelectionText {
        font-family: 'Grape Nuts';
        color: #E4C59E;
        font-size: 16px;
        margin-left: 2%;
    }
    .itemButton, .quantityButton, .colorButton, .firstButton, .lastButton, .emailButton {
        width: 45%;
        margin: 1% 0 1% 1%; 
        margin-left: auto; /* This aligns the buttons to the right edge of the container */
        margin-right: 8%;
    }
}