body {
    background-color: #322C2B;
    margin: 0;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.container {
    text-align: center; /* Center text inside the container */
    transform: translateY(-100px); /* Adjust this value to move up */
    flex-direction: column;
}
.thankText {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 40px;
    margin: 0;
    margin-bottom: 5%;
}
.instructions {
    font-family: 'Grape Nuts';
    color: #E4C59E;
    font-size: 25px;
    margin: 0;
    margin-bottom: 5%;
}
.homeButton {
    background-color: #803D3B;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #E4C59E;
    font-family: 'Grape Nuts';
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 black;
    -webkit-tap-highlight-color: transparent;
    margin-top: 5%;
}
.homeButton:hover {
    box-shadow: 0 8px 16px 0 rgb(48, 46, 46), 0 6px 20px 0 #AF8260;
}
.homeButton:active {
    background-color: #792422;
}
@media only screen and (max-width: 1024px) {
    .thankText {
        font-size: 30px;
    }
}